/* Callout
-------------------------------------------------------------------------------*/

/* Branding, title, and tagline */
.logo {
	width: 8em;
	height: auto;
	margin: 4em auto 1em;

	@media screen and (min-width: 480px) {
		margin-top: 0;	
	}
}

.title {
	font-size: 2.5em;
	margin: .3em 0 .1em;

	@media screen and (min-width: 480px) {
		font-size: 3.5em;
	}
}

.tagline {
	// set color based on background hue
	color: contrast-color($primary-color, darken($primary-color,25%), lighten($primary-color, 20%));
	margin: 0 0 2em;
}


/* email input field/button signup */
#email-button {
	width: 80px;
	display: inline-block;
	text-align: center;
	background-color: $button-color;
	padding: .9em 1.8em;
	border: none;
	cursor: pointer;
	outline: none;
	@include border-radius(4px);
	@include transition(all .1s linear);
	
	// darken button on hover
	&:hover {
		background-color: darken($button-color, 5%);
	}

	&.active {
		width: 200px;
		outline: none;
		color: $primary-color; // input field color, may need to change depending on color scheme
		text-align: left;
		cursor: inherit;
	}
}

// text color for email button/input field
::-webkit-input-placeholder {
   color: $primary-color; // input field color, may need to change depending on color scheme
   opacity: .8;
}

// email submit arrow button
#mc-embedded-subscribe {
	width: 35px;
	height: 35px;
	border: none;
	text-indent: -9999px;
	background: url(../img/arrow-circle-on-right.svg) no-repeat;
	background-size: 13px;
	background-position: 0 1px;
	opacity: .25;
	@include transition(all .2s linear);
	
	// hide until the email button is clicked
	display: none;

	&:hover {
		opacity: .33;
	}
	
	// show submit arrow when button is clicked
	&.show {
		display: inline-block;
		background-size: 33px;
	}
}

// MailChimp email container
#mc_embed_signup {
	position: relative;
}

// MailChimp response field
.response {
	margin: 1em 0;
}

